<div class="container-fluid">
  <div ng-controller="AboutCtrl">
    <div class="jumbotron">
      <h2>Welcome {{time | date}}!</h2>
      <p class="lead">
        <img src="images/seeki.png" alt="seeki"><br>
        Best place to start developing your applications.
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="#/project">Start now <span class="glyphicon glyphicon-ok"></span></a></p>
      <ul ng-repeat="author in authors">
        <li>{{author}}</li>
      </ul>
    </div>
  </div>
</div>